---
import Layout from '../layouts/Layout.astro';
import { Page } from "../scripts/page_handler"

import NASA_API from "../scripts/NASA_API";


interface PerseveranceCamera {
    name: string,
    full_name: string
}
interface PerseveranceData {
    id: number,
    name: string,
    landing_date: string,
    launch_date: string,
    status: string,

    max_sol: number,
    max_date: string,

    total_photos: string,
    cameras: [PerseveranceCamera]
}

const perseveranceData: PerseveranceData = {}


// async function fetchFromMRP(URL: string): Promise<APODResponse | null> {
// 	const res_blob = await fetch(URL)

//     requestState.limit = res_blob.headers.get("x-ratelimit-limit")
//     requestState.remaining = res_blob.headers.get("x-ratelimit-remaining")
//     console.info(`Requested image from APOD, limit [${requestState.remaining}/${requestState.limit}]`)

// 	const res_json = await res_blob.json()
// 	if(res_json.error != null) {
// 		console.error(`Error requesting to APOD API with url "${URL}"\nmessage: `, res_json.error.message)
// 		return null
// 	}

// 	return res_json

---

<Layout currentPage={Page.MRP}>
	<main>mrp</main>

    
</Layout>

<style>

</style>

<script defer define:vars={{NASA_API}}>

function fetchFromMRP() {
    const URL = `https://mars-photos.herokuapp.com/`
}



</script>
